/*!
 *   Authors: tgt95
 */
/* =============
Variables
============= */
@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900);
:root {
  --custom: #00BBD3;
  --primary: #007bff;
  --secondary: #868e96;
  --blue: #2196F3;
  --indigo: #3f51b5;
  --purple: #9c27b0;
  --pink: #e91e63;
  --red: #F44336;
  --orange: #ff9800;
  --yellow: #ffc107;
  --green: #4CAF50;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --black: #000;
  --gray: #868e96;
  --gray-dark: #343a40;
  --success: #6eaf0f;
  --info: #00bbd3;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #313a46;
  --xs: 0;
  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;
  --font-family-sans-serif: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; }

@font-face {
  font-family: "customicon";
  src: url("../fonts/icons/customicon.eot");
  src: url("../fonts/icons/customicon.eot?#iefix") format("eot"), url("../fonts/icons/customicon.woff2") format("woff2"), url("../fonts/icons/customicon.woff") format("woff"), url("../fonts/icons/customicon.ttf") format("truetype"), url("../fonts/icons/customicon.svg#customicon") format("svg"); }

.customicon-action-down, .customicon-action-left, .customicon-action-right, .customicon-action-top, .customicon-adjustment, .customicon-arrow-down, .customicon-arrow-left, .customicon-arrow-right, .customicon-arrow-up, .customicon-book, .customicon-business, .customicon-calendar, .customicon-camera, .customicon-check, .customicon-chevron-down, .customicon-chevron-left, .customicon-chevron-right, .customicon-chevron-up, .customicon-clear, .customicon-close, .customicon-comment, .customicon-contact, .customicon-control-minus, .customicon-control-plus, .customicon-copy, .customicon-cut, .customicon-delete, .customicon-document, .customicon-dot, .customicon-download, .customicon-edit-file, .customicon-error, .customicon-expand, .customicon-favorite, .customicon-file, .customicon-filter, .customicon-fire, .customicon-folder, .customicon-group, .customicon-history, .customicon-home, .customicon-image-multiple, .customicon-image-single, .customicon-information-copy, .customicon-information, .customicon-location, .customicon-lock, .customicon-mail, .customicon-map, .customicon-media, .customicon-mobile, .customicon-more-horizontal, .customicon-more-vertical, .customicon-mouse, .customicon-nav, .customicon-notifications-off, .customicon-notifications-on, .customicon-password-hide, .customicon-password-show, .customicon-paste, .customicon-pause, .customicon-phone, .customicon-play, .customicon-print, .customicon-profile, .customicon-record-audio, .customicon-record-video, .customicon-save, .customicon-search, .customicon-settings, .customicon-share, .customicon-sign-out, .customicon-sort-alphabet-down, .customicon-sort-alphabet-up, .customicon-sort-down, .customicon-sort-latest-down, .customicon-sort-latest-up, .customicon-sort-up, .customicon-subscribe, .customicon-tag, .customicon-task-done, .customicon-task-list, .customicon-text-area, .customicon-time, .customicon-unlock, .customicon-upload, .customicon-user-admin, .customicon-user-author, .customicon-user-banned, .customicon-user-settings, .customicon-volume-down, .customicon-volume-mute, .customicon-volume-up, .customicon-wallet, .customicon-write {
  font-family: "customicon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
  display: inline-block;
  text-rendering: auto;
  line-height: 1; }

.customicon-action-down:before {
  content: '\E001'; }

.customicon-action-left:before {
  content: '\E002'; }

.customicon-action-right:before {
  content: '\E003'; }

.customicon-action-top:before {
  content: '\E004'; }

.customicon-adjustment:before {
  content: '\E005'; }

.customicon-arrow-down:before {
  content: '\E006'; }

.customicon-arrow-left:before {
  content: '\E007'; }

.customicon-arrow-right:before {
  content: '\E008'; }

.customicon-arrow-up:before {
  content: '\E009'; }

.customicon-book:before {
  content: '\E00A'; }

.customicon-business:before {
  content: '\E00B'; }

.customicon-calendar:before {
  content: '\E00C'; }

.customicon-camera:before {
  content: '\E00D'; }

.customicon-check:before {
  content: '\E00E'; }

.customicon-chevron-down:before {
  content: '\E00F'; }

.customicon-chevron-left:before {
  content: '\E010'; }

.customicon-chevron-right:before {
  content: '\E011'; }

.customicon-chevron-up:before {
  content: '\E012'; }

.customicon-clear:before {
  content: '\E013'; }

.customicon-close:before {
  content: '\E014'; }

.customicon-comment:before {
  content: '\E015'; }

.customicon-contact:before {
  content: '\E016'; }

.customicon-control-minus:before {
  content: '\E017'; }

.customicon-control-plus:before {
  content: '\E018'; }

.customicon-copy:before {
  content: '\E019'; }

.customicon-cut:before {
  content: '\E01A'; }

.customicon-delete:before {
  content: '\E01B'; }

.customicon-document:before {
  content: '\E01C'; }

.customicon-dot:before {
  content: '\E01D'; }

.customicon-download:before {
  content: '\E01E'; }

.customicon-edit-file:before {
  content: '\E01F'; }

.customicon-error:before {
  content: '\E020'; }

.customicon-expand:before {
  content: '\E021'; }

.customicon-favorite:before {
  content: '\E022'; }

.customicon-file:before {
  content: '\E023'; }

.customicon-filter:before {
  content: '\E024'; }

.customicon-fire:before {
  content: '\E025'; }

.customicon-folder:before {
  content: '\E026'; }

.customicon-group:before {
  content: '\E027'; }

.customicon-history:before {
  content: '\E028'; }

.customicon-home:before {
  content: '\E029'; }

.customicon-image-multiple:before {
  content: '\E02A'; }

.customicon-image-single:before {
  content: '\E02B'; }

.customicon-information-copy:before {
  content: '\E02C'; }

.customicon-information:before {
  content: '\E02D'; }

.customicon-location:before {
  content: '\E02E'; }

.customicon-lock:before {
  content: '\E02F'; }

.customicon-mail:before {
  content: '\E030'; }

.customicon-map:before {
  content: '\E031'; }

.customicon-media:before {
  content: '\E032'; }

.customicon-mobile:before {
  content: '\E033'; }

.customicon-more-horizontal:before {
  content: '\E034'; }

.customicon-more-vertical:before {
  content: '\E035'; }

.customicon-mouse:before {
  content: '\E036'; }

.customicon-nav:before {
  content: '\E037'; }

.customicon-notifications-off:before {
  content: '\E038'; }

.customicon-notifications-on:before {
  content: '\E039'; }

.customicon-password-hide:before {
  content: '\E03A'; }

.customicon-password-show:before {
  content: '\E03B'; }

.customicon-paste:before {
  content: '\E03C'; }

.customicon-pause:before {
  content: '\E03D'; }

.customicon-phone:before {
  content: '\E03E'; }

.customicon-play:before {
  content: '\E03F'; }

.customicon-print:before {
  content: '\E040'; }

.customicon-profile:before {
  content: '\E041'; }

.customicon-record-audio:before {
  content: '\E042'; }

.customicon-record-video:before {
  content: '\E043'; }

.customicon-save:before {
  content: '\E044'; }

.customicon-search:before {
  content: '\E045'; }

.customicon-settings:before {
  content: '\E046'; }

.customicon-share:before {
  content: '\E047'; }

.customicon-sign-out:before {
  content: '\E048'; }

.customicon-sort-alphabet-down:before {
  content: '\E049'; }

.customicon-sort-alphabet-up:before {
  content: '\E04A'; }

.customicon-sort-down:before {
  content: '\E04B'; }

.customicon-sort-latest-down:before {
  content: '\E04C'; }

.customicon-sort-latest-up:before {
  content: '\E04D'; }

.customicon-sort-up:before {
  content: '\E04E'; }

.customicon-subscribe:before {
  content: '\E04F'; }

.customicon-tag:before {
  content: '\E050'; }

.customicon-task-done:before {
  content: '\E051'; }

.customicon-task-list:before {
  content: '\E052'; }

.customicon-text-area:before {
  content: '\E053'; }

.customicon-time:before {
  content: '\E054'; }

.customicon-unlock:before {
  content: '\E055'; }

.customicon-upload:before {
  content: '\E056'; }

.customicon-user-admin:before {
  content: '\E057'; }

.customicon-user-author:before {
  content: '\E058'; }

.customicon-user-banned:before {
  content: '\E059'; }

.customicon-user-settings:before {
  content: '\E05A'; }

.customicon-volume-down:before {
  content: '\E05B'; }

.customicon-volume-mute:before {
  content: '\E05C'; }

.customicon-volume-up:before {
  content: '\E05D'; }

.customicon-wallet:before {
  content: '\E05E'; }

.customicon-write:before {
  content: '\E05F'; }

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px; }

.demo-icon {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0; }
  .demo-icon > li {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 8px;
    border-radius: 12px;
    -webkit-transition: background .3s ease;
    transition: background .3s ease; }
    .demo-icon > li i {
      font-size: 48px;
      color: #f3f3f3; }
    .demo-icon > li:hover {
      background: rgba(255, 255, 255, 0.1); }
