@font-face {
	font-family: "customicon";
	src: url('../fonts/icons/customicon.eot');
	src: url('../fonts/icons/customicon.eot?#iefix') format('eot'),
		url('../fonts/icons/customicon.woff2') format('woff2'),
		url('../fonts/icons/customicon.woff') format('woff'),
		url('../fonts/icons/customicon.ttf') format('truetype'),
		url('../fonts/icons/customicon.svg#customicon') format('svg');
}

@mixin customicon-styles {
	font-family: "customicon";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;

    display: inline-block;
    text-rendering: auto;
    line-height: 1;
}

%customicon {
	@include customicon-styles;
}

.customicon-action-down{
	@extend %customicon;
	&:before {
		content:'\E001';
	}
}
.customicon-action-left{
	@extend %customicon;
	&:before {
		content:'\E002';
	}
}
.customicon-action-right{
	@extend %customicon;
	&:before {
		content:'\E003';
	}
}
.customicon-action-top{
	@extend %customicon;
	&:before {
		content:'\E004';
	}
}
.customicon-adjustment{
	@extend %customicon;
	&:before {
		content:'\E005';
	}
}
.customicon-arrow-down{
	@extend %customicon;
	&:before {
		content:'\E006';
	}
}
.customicon-arrow-left{
	@extend %customicon;
	&:before {
		content:'\E007';
	}
}
.customicon-arrow-right{
	@extend %customicon;
	&:before {
		content:'\E008';
	}
}
.customicon-arrow-up{
	@extend %customicon;
	&:before {
		content:'\E009';
	}
}
.customicon-book{
	@extend %customicon;
	&:before {
		content:'\E00A';
	}
}
.customicon-business{
	@extend %customicon;
	&:before {
		content:'\E00B';
	}
}
.customicon-calendar{
	@extend %customicon;
	&:before {
		content:'\E00C';
	}
}
.customicon-camera{
	@extend %customicon;
	&:before {
		content:'\E00D';
	}
}
.customicon-check{
	@extend %customicon;
	&:before {
		content:'\E00E';
	}
}
.customicon-chevron-down{
	@extend %customicon;
	&:before {
		content:'\E00F';
	}
}
.customicon-chevron-left{
	@extend %customicon;
	&:before {
		content:'\E010';
	}
}
.customicon-chevron-right{
	@extend %customicon;
	&:before {
		content:'\E011';
	}
}
.customicon-chevron-up{
	@extend %customicon;
	&:before {
		content:'\E012';
	}
}
.customicon-clear{
	@extend %customicon;
	&:before {
		content:'\E013';
	}
}
.customicon-close{
	@extend %customicon;
	&:before {
		content:'\E014';
	}
}
.customicon-comment{
	@extend %customicon;
	&:before {
		content:'\E015';
	}
}
.customicon-contact{
	@extend %customicon;
	&:before {
		content:'\E016';
	}
}
.customicon-control-minus{
	@extend %customicon;
	&:before {
		content:'\E017';
	}
}
.customicon-control-plus{
	@extend %customicon;
	&:before {
		content:'\E018';
	}
}
.customicon-copy{
	@extend %customicon;
	&:before {
		content:'\E019';
	}
}
.customicon-cut{
	@extend %customicon;
	&:before {
		content:'\E01A';
	}
}
.customicon-delete{
	@extend %customicon;
	&:before {
		content:'\E01B';
	}
}
.customicon-document{
	@extend %customicon;
	&:before {
		content:'\E01C';
	}
}
.customicon-dot{
	@extend %customicon;
	&:before {
		content:'\E01D';
	}
}
.customicon-download{
	@extend %customicon;
	&:before {
		content:'\E01E';
	}
}
.customicon-edit-file{
	@extend %customicon;
	&:before {
		content:'\E01F';
	}
}
.customicon-error{
	@extend %customicon;
	&:before {
		content:'\E020';
	}
}
.customicon-expand{
	@extend %customicon;
	&:before {
		content:'\E021';
	}
}
.customicon-favorite{
	@extend %customicon;
	&:before {
		content:'\E022';
	}
}
.customicon-file{
	@extend %customicon;
	&:before {
		content:'\E023';
	}
}
.customicon-filter{
	@extend %customicon;
	&:before {
		content:'\E024';
	}
}
.customicon-fire{
	@extend %customicon;
	&:before {
		content:'\E025';
	}
}
.customicon-folder{
	@extend %customicon;
	&:before {
		content:'\E026';
	}
}
.customicon-group{
	@extend %customicon;
	&:before {
		content:'\E027';
	}
}
.customicon-history{
	@extend %customicon;
	&:before {
		content:'\E028';
	}
}
.customicon-home{
	@extend %customicon;
	&:before {
		content:'\E029';
	}
}
.customicon-image-multiple{
	@extend %customicon;
	&:before {
		content:'\E02A';
	}
}
.customicon-image-single{
	@extend %customicon;
	&:before {
		content:'\E02B';
	}
}
.customicon-information-copy{
	@extend %customicon;
	&:before {
		content:'\E02C';
	}
}
.customicon-information{
	@extend %customicon;
	&:before {
		content:'\E02D';
	}
}
.customicon-location{
	@extend %customicon;
	&:before {
		content:'\E02E';
	}
}
.customicon-lock{
	@extend %customicon;
	&:before {
		content:'\E02F';
	}
}
.customicon-mail{
	@extend %customicon;
	&:before {
		content:'\E030';
	}
}
.customicon-map{
	@extend %customicon;
	&:before {
		content:'\E031';
	}
}
.customicon-media{
	@extend %customicon;
	&:before {
		content:'\E032';
	}
}
.customicon-mobile{
	@extend %customicon;
	&:before {
		content:'\E033';
	}
}
.customicon-more-horizontal{
	@extend %customicon;
	&:before {
		content:'\E034';
	}
}
.customicon-more-vertical{
	@extend %customicon;
	&:before {
		content:'\E035';
	}
}
.customicon-mouse{
	@extend %customicon;
	&:before {
		content:'\E036';
	}
}
.customicon-nav{
	@extend %customicon;
	&:before {
		content:'\E037';
	}
}
.customicon-notifications-off{
	@extend %customicon;
	&:before {
		content:'\E038';
	}
}
.customicon-notifications-on{
	@extend %customicon;
	&:before {
		content:'\E039';
	}
}
.customicon-password-hide{
	@extend %customicon;
	&:before {
		content:'\E03A';
	}
}
.customicon-password-show{
	@extend %customicon;
	&:before {
		content:'\E03B';
	}
}
.customicon-paste{
	@extend %customicon;
	&:before {
		content:'\E03C';
	}
}
.customicon-pause{
	@extend %customicon;
	&:before {
		content:'\E03D';
	}
}
.customicon-phone{
	@extend %customicon;
	&:before {
		content:'\E03E';
	}
}
.customicon-play{
	@extend %customicon;
	&:before {
		content:'\E03F';
	}
}
.customicon-print{
	@extend %customicon;
	&:before {
		content:'\E040';
	}
}
.customicon-profile{
	@extend %customicon;
	&:before {
		content:'\E041';
	}
}
.customicon-record-audio{
	@extend %customicon;
	&:before {
		content:'\E042';
	}
}
.customicon-record-video{
	@extend %customicon;
	&:before {
		content:'\E043';
	}
}
.customicon-save{
	@extend %customicon;
	&:before {
		content:'\E044';
	}
}
.customicon-search{
	@extend %customicon;
	&:before {
		content:'\E045';
	}
}
.customicon-settings{
	@extend %customicon;
	&:before {
		content:'\E046';
	}
}
.customicon-share{
	@extend %customicon;
	&:before {
		content:'\E047';
	}
}
.customicon-sign-out{
	@extend %customicon;
	&:before {
		content:'\E048';
	}
}
.customicon-sort-alphabet-down{
	@extend %customicon;
	&:before {
		content:'\E049';
	}
}
.customicon-sort-alphabet-up{
	@extend %customicon;
	&:before {
		content:'\E04A';
	}
}
.customicon-sort-down{
	@extend %customicon;
	&:before {
		content:'\E04B';
	}
}
.customicon-sort-latest-down{
	@extend %customicon;
	&:before {
		content:'\E04C';
	}
}
.customicon-sort-latest-up{
	@extend %customicon;
	&:before {
		content:'\E04D';
	}
}
.customicon-sort-up{
	@extend %customicon;
	&:before {
		content:'\E04E';
	}
}
.customicon-subscribe{
	@extend %customicon;
	&:before {
		content:'\E04F';
	}
}
.customicon-tag{
	@extend %customicon;
	&:before {
		content:'\E050';
	}
}
.customicon-task-done{
	@extend %customicon;
	&:before {
		content:'\E051';
	}
}
.customicon-task-list{
	@extend %customicon;
	&:before {
		content:'\E052';
	}
}
.customicon-text-area{
	@extend %customicon;
	&:before {
		content:'\E053';
	}
}
.customicon-time{
	@extend %customicon;
	&:before {
		content:'\E054';
	}
}
.customicon-unlock{
	@extend %customicon;
	&:before {
		content:'\E055';
	}
}
.customicon-upload{
	@extend %customicon;
	&:before {
		content:'\E056';
	}
}
.customicon-user-admin{
	@extend %customicon;
	&:before {
		content:'\E057';
	}
}
.customicon-user-author{
	@extend %customicon;
	&:before {
		content:'\E058';
	}
}
.customicon-user-banned{
	@extend %customicon;
	&:before {
		content:'\E059';
	}
}
.customicon-user-settings{
	@extend %customicon;
	&:before {
		content:'\E05A';
	}
}
.customicon-volume-down{
	@extend %customicon;
	&:before {
		content:'\E05B';
	}
}
.customicon-volume-mute{
	@extend %customicon;
	&:before {
		content:'\E05C';
	}
}
.customicon-volume-up{
	@extend %customicon;
	&:before {
		content:'\E05D';
	}
}
.customicon-wallet{
	@extend %customicon;
	&:before {
		content:'\E05E';
	}
}
.customicon-write{
	@extend %customicon;
	&:before {
		content:'\E05F';
	}
}